/* web-fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,header,h1,h2,h3,small,p {
    font-family: 'Open Sans', sans-serif;
}

/* code resue
    Ref: https://stackoverflow.com/questions/21360519/jquery-fadein-on-page-load
*/
div.hidden {
    display: none
}
/* code reuse
  Ref: https://css-tricks.com/design-considerations-text-images/
  Transparent background
  http://cdn.mediaincanada.com/wp/wp-content/uploads/2016/10/foodShutterstock.jpg

*/
body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/igrow_background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #ccc;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;     
} 
header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
/* code resue
    Ref: https://stackoverflow.com/questions/25403510/bootstrap-3-responsive-h1-tag
*/   
h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
    color: #ccc;
    text-shadow: 2px 2px 4px #000000;
}
h2, small {
    color: #ccc;
    text-shadow: 2px 2px 4px #000000;
}
/* code reuse: 
    Ref: https://www.w3schools.com/cssref/css3_pr_text-shadow.asp
*/
h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
p {
    margin: 0;
    font-size: 1.6rem;
    color: #ccc;
    text-shadow: 2px 2px 4px #000000;
}

.panel-body {
    color: #000000;
}

/* code resue:
    Ref: https://www.w3schools.com/css/css_image_transparency.asp
*/    
.logo {
    opacity: 0.7;
}
/* code reuse
    Ref: https://stackoverflow.com/questions/22904102/how-to-change-the-background-color-of-jumbrotron
*/
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    !important;
}
/* code reuse
  Ref: https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
  Font awesome icons for contact page
*/
.social {
    padding: 20px;
    font-size: 30px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-envelope-square {
    background: #32CD32;
    color: white;
}
/* code reuse
  Ref: https://coolestguidesontheplanet.com/videodrome/youtube/
  Responsive youtube videos in iframes
*/
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:10%;
}