/*code reuse:
   Ref: https://codepen.io/nirmalkc/pen/JKjmVg?editors=0010 
   https://stackoverflow.com/questions/26176288/webkit-overflow-scrolling-touch-breaks-in-apples-ios8
   Left navbar
*/
.navbar-global {
	background-color: indigo;
}
.navbar-global .navbar-brand {
	color: white;
}
.navbar-global .navbar-user>li>a {
	color: white;
}

/* Navbar is closed - use custom js

$('.btn-expand-collapse').click(function(e) {
	$('.navbar-primary').toggleClass('expanded');
});
*/
.navbar-primary {
	width: 60px;    
	background-color: #333;
	bottom: 0px;
	left: 0px;
	position: absolute;
	top: 51px;
	z-index: 8; /* https://getbootstrap.com/docs/4.0/layout/overview/#z-index */
	overflow: auto; 
	-webkit-overflow-scrolling:touch; 
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.navbar-primary .glyphicon {
	font-size: 22px;
}
.navbar-primary .nav-label {
	display: none;
}
.navbar-primary.expanded {
	width: 200px;
}
.navbar-primary.expanded .nav-label {
	display: inline;
	float: none;
}
.main-content {
	margin-top: 60px;
	margin-left: 60px;
	padding: 20px;
}
.expanded+.main-content {
	margin-left: 200px;
}    

/* Navbar is open - use custom js

$('.btn-expand-collapse').click(function(e) {
	$('.navbar-primary').toggleClass('collapsed');
});
/*

/*
.navbar-primary {
	background-color: #333;
	bottom: 0px;
	left: 0px;
	position: absolute;
	top: 51px;
	width: 200px;
	z-index: 8;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
	width: 60px;
}
.navbar-primary.collapsed .glyphicon {
	font-size: 22px;
}
.navbar-primary.collapsed .nav-label {
	display: none;
.main-content {
	margin-top: 60px;
	margin-left: 200px;
	padding: 20px;
}    
.collapsed+.main-content {
	margin-left: 60px;
}
*/

.btn-expand-collapse {
	/*position: absolute;*/
	display: block;
	left: 0px;
	bottom: 0;
	width: 100%;
	padding: 8px 0;
	border-top: solid 1px #666;
	color: grey;
	font-size: 20px;
	text-align: center;
}
.btn-expand-collapse:hover, .btn-expand-collapse:focus {
	background-color: #222;
	color: white;
}
.btn-expand-collapse:active {
	background-color: #111;
}
.navbar-primary-menu, .navbar-primary-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar-primary-menu li a {
	display: block;
	padding: 10px 18px;
	text-align: left;
	border-bottom: solid 1px #444;
	color: #ccc;
}
.navbar-primary-menu li a:hover {
	background-color: #000;
	text-decoration: none;
	color: white;
}
.navbar-primary-menu li a .glyphicon {
	margin-right: 6px;
}
.navbar-primary-menu li a:hover .glyphicon {
	color: orchid;
}
/*code reuse:
   Ref: Ref: http://www.webtipblog.com/adding-scroll-top-button-website/
   Scroll to top button
*/
.scroll-top-wrapper {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;    
	background-color: #333;
	color: #eeeeee;
	width: 50px;
	height: 48px;    
	margin: 4px;
	bottom: 0px;
	left: 0px;    
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
	visibility:visible;
	cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

/* media-queries for navbar height */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.navbar-primary {
		height: 980px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	.navbar-primary {
		height: 1000px;	
	}
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.navbar-primary {
		height: 1000px;	
	}	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.navbar-primary {
		height: 1350px;		
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
	.navbar-primary {
		height: 2600px;	
	}
}